In [1]:
#import packages and libraries that assist with analysis
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

from pydataset import data

#stored functions and local credentials you will need to access the data
#stored in mysql or on you local device
import os
from acquire import get_telco_data
from prepare import prep_telco, prep_telco_encode, telco_train_validate_test_split
from env import host,db,protocol,password,user,mysqlcon

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer
import sklearn.metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text

from sklearn.preprocessing import LabelEncoder

ModuleNotFoundError: No module named 'acquire'

In [ ]:
filename = "student_grades.csv"
os.path.isfile(filename)

In [ ]:
def aquire_student_grades():
    filename = "student_grades.csv"

    mysqlcon=f"{protocol}://{user}:{password}@{host}/{db}"

    if os.path.isfile(filename):
        df = pd.read_csv(filename)
        
      # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)
        return df

In [ ]:
df=aquire_student_grades()

In [ ]:
df = pd.read_csv(filename)

In [ ]:
df = df.drop(columns='student_id')

In [ ]:
df.isna().sum()

In [ ]:
df['exam3'].isna().value_counts()

In [ ]:
df['exam1'].isna().value_counts()

In [ ]:
df.dropna().shape

In [ ]:
df = df.dropna()

In [ ]:
df.info()

In [ ]:
df['exam1'].value_counts()

In [ ]:
df['exam1'] = df.exam1.astype(int)
df['exam3'] = df.exam3.astype(int)

In [ ]:
df.info()

In [ ]:
def clean_student_grades(df):
    '''
    clean_student_grades(df) takes in a single pandas dataframe
    removed the student id columns, removes records with null values, and cast any floats
    into integers.Returns a clead df.
    '''
    #drops student_id column
    df = df.drop(columns='student_id')
    #drops na values 
    df = df.dropna()
    #turn whole df into a integer. float values match int values
    df = df.astype(int)
    return df

In [ ]:
def split_my_students(df):
    '''
    split_my_students(df) takes in a a clean dataframe, referencing the cleaned
    version of student data. Split the data into train, validate, test
    
    pass df as an arguement in the function 
    returns: train, validate, test: three pandas dataframes
    '''
    train_val, test = train_test_split(df, random_state=1349, train_size=0.7)
    
    train, validate = train_test_split(train_val, random_state=1349, train_size=.10)
    
    return train, validate, test

In [ ]:
def wrangle_grades():
    '''
    wrangle_grades does the split and clean and returns the data'''
    return split_my_students(
        clean_student_grades(
            aquire_student_grades()))

In [ ]:
train, validate, test = wrangle_grades()

In [ ]:
train.shape, validate.shape, test.shape

### Exercise

In [ ]:
def get_zillow_data():
    filename = "zillow.csv"
    mysqlcon=f"{protocol}://{user}:{password}@{host}/{db}"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql(df = pd.read_sql_query("select * from properties_2017", mysqlcon))
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)
        # Return the dataframe to the calling code
        return df