In [18]:
#pandas methods for taking in data:
#pd.___?
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import os
import acquire
from env import host,db,protocol,password,user,mysqlcon
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import sklearn.metrics
from sklearn.metrics import confusion_matrix

Exercises

Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.
Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |
In the context of this problem, what is a false positive?
#actual negative didnt match prediction positive

In the context of this problem, what is a false negative?
#predicted actual posisitve didnt match prediction negative 

How would you describe this model?
accuracy model

In [115]:
#dog is pos 
# cat is neg

tp=46
tn=34
fp=13
fn=7
dog = 53
baseline = 100

In [121]:
baseline_accuracy = (dog / baseline)
baseline_accuracy

0.53

In [109]:
accuracy_rate=(tp+tn) / (tp + tn + fp + fn)
print(f'The accuracy rate is {accuracy_rate:.2%}')

The accuracy rate is 80.00%

In [110]:
recall = tp / (tp + fn)
print(f'The recall rate is {recall:.2%}')

The recall rate is 86.79%

In [112]:
precision = tp / (tp+fp)
print(f'The precision rate is {precision:.2%}')

The precision rate is 77.97%

You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [3]:
codeupc3 = pd.read_clipboard()

In [8]:
c3 = codeupc3

In [10]:
#checks if the csv file path exist and reads from it and saves it to the current directory.
def get_c3_data():
    filenamec3 = "c3.csv"

    if os.path.isfile(filenamec3):
        return pd.read_csv(filenamec3)
    else:

        # Write that dataframe to disk for later. Called "caching" the data for later.
        c3.to_csv(filenamec3)

        # Return the dataframe to the calling code
        return c3

In [12]:
get_c3_data()

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

#Accuracy, model1

In [14]:
pd.crosstab(c3.actual, c3.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [15]:
pd.crosstab(c3.actual, c3.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [16]:
pd.crosstab(c3.actual, c3.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [23]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [135]:
#baseline
c3['baseline_prediction']= 'Defect'

In [136]:
model1_accuracy = (c3.model1 == c3.actual).mean()
baseline_accuracy = (c3.baseline_prediction == c3.actual).mean()

print(f'Model 1 Accuracy: {model1_accuracy:.2%}')
print(f'Baseline Accuracy: {baseline_accuracy:.2%}')

Model 1 Accuracy: 95.00%
Baseline Accuracy: 8.00%

In [137]:
model2_accuracy = (c3.model2 == c3.actual).mean()
baseline_accuracy = (c3.baseline_prediction == c3.actual).mean()

print(f'Model 2 Accuracy: {model2_accuracy:.2%}')
print(f'Baseline Accuracy: {baseline_accuracy:.2%}')

Model 2 Accuracy: 56.00%
Baseline Accuracy: 8.00%

In [138]:
model3_accuracy = (c3.model3 == c3.actual).mean()
baseline_accuracy = (c3.baseline_prediction == c3.actual).mean()

print(f'Model 3 Accuracy: {model3_accuracy:.2%}')
print(f'Baseline Accuracy: {baseline_accuracy:.2%}')

Model 3 Accuracy: 55.50%
Baseline Accuracy: 8.00%

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

#Recall,model3

In [122]:
subset = c3[c3.actual == 'Defect']

model1_recall = (subset.model1 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'  model1 recall: {model1_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model1 recall: 50.00%
baseline recall: 0.00%

In [123]:
subset = c3[c3.actual == 'Defect']

model2_recall = (subset.model2 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model2 recall: {model2_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model2 recall: 56.25%
baseline recall: 0.00%

In [124]:
subset = c3[c3.actual == 'Defect']

model3_recall = (subset.model3 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model3 recall: {model3_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model3 recall: 81.25%
baseline recall: 0.00%

In [40]:
c3

        actual     model1     model2     model3 baseline_prediction
0    No Defect  No Defect     Defect  No Defect           No Defect
1    No Defect  No Defect     Defect     Defect           No Defect
2    No Defect  No Defect     Defect  No Defect           No Defect
3    No Defect     Defect     Defect     Defect           No Defect
4    No Defect  No Defect     Defect  No Defect           No Defect
..         ...        ...        ...        ...                 ...
195  No Defect  No Defect     Defect     Defect           No Defect
196     Defect     Defect  No Defect  No Defect           No Defect
197  No Defect  No Defect  No Defect  No Defect           No Defect
198  No Defect  No Defect     Defect     Defect           No Defect
199  No Defect  No Defect  No Defect     Defect           No Defect

[200 rows x 5 columns]

In [142]:
subset = c3[c3.model1 == 'Defect']
model_precision = (subset.model1 == subset.actual).mean()

subset = c3[c3.baseline_prediction == 'Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 80.00%
baseline precision: 8.00%

In [143]:
subset = c3[c3.model2 == 'Defect']
model_precision = (subset.model2 == subset.actual).mean()

subset = c3[c3.baseline_prediction == 'Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 10.00%
baseline precision: 8.00%

In [144]:
subset = c3[c3.model3 == 'Defect']
model_precision = (subset.model3 == subset.actual).mean()

subset = c3[c3.baseline_prediction == 'Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 13.13%
baseline precision: 8.00%

You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
#Model 1 and 4 are better and model 2 is near the baseline 3 is 15% off base

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
#Model 2

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?
#Model 4

In [51]:
paws = pd.read_clipboard()

In [57]:
paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [60]:
pd.crosstab(paws.actual, paws.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [63]:
pd.crosstab(paws.actual, paws.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [62]:
pd.crosstab(paws.actual, paws.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [61]:
pd.crosstab(paws.actual, paws.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [55]:
def get_paws_data():
    filenamec3 = "paws.csv"

    if os.path.isfile(filenamec3):
        return pd.read_csv(filenamec3)
    else:

        # Write that dataframe to disk for later. Called "caching" the data for later.
        paws.to_csv(filenamec3)

        # Return the dataframe to the calling code
        return paws

In [64]:
confusion_matrix(paws.actual, paws.model1,
                 labels = ('cat', 'dog'))

array([[1423,  323],
       [ 640, 2614]])

In [66]:
#baselines
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [67]:
paws['baseline_prediction'] = 'dog'

In [56]:
get_paws_data()

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [68]:
paws

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [70]:
model1_accuracy = (paws.model1 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'Model 1 Accuracy: {model1_accuracy:.2%}')
print(f'Baseline Accuracy: {baseline_accuracy:.2%}')

Model 1 Accuracy: 80.74%
Baseline Accuracy: 65.08%

In [72]:
model2_accuracy = (paws.model2 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'Model 2 Accuracy: {model2_accuracy:.2%}')
print(f'Baseline Accuracy: {baseline_accuracy:.2%}')

Model 2 Accuracy: 63.04%
Baseline Accuracy: 65.08%

In [73]:
model3_accuracy = (paws.model3 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'Model 3 Accuracy: {model3_accuracy:.2%}')
print(f'Baseline Accuracy: {baseline_accuracy:.2%}')

Model 3 Accuracy: 50.96%
Baseline Accuracy: 65.08%

In [74]:
model4_accuracy = (paws.model4 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'Model 4 Accuracy: {model4_accuracy:.2%}')
print(f'Baseline Accuracy: {baseline_accuracy:.2%}')

Model 4 Accuracy: 74.26%
Baseline Accuracy: 65.08%

In [81]:
#accuracy score import
from sklearn.metrics import accuracy_score
y_pred = paws.model3
y_true = paws.actual
accuracy_score(y_true, y_pred)

0.5096

In [80]:
from sklearn.metrics import accuracy_score
y_pred = paws.model2
y_true = paws.actual
accuracy_score(y_true, y_pred)

0.6304

In [79]:
from sklearn.metrics import accuracy_score
y_pred = paws.model1
y_true = paws.actual
accuracy_score(y_true, y_pred)

0.8074

In [82]:
from sklearn.metrics import accuracy_score
y_pred = paws.model4
y_true = paws.actual
accuracy_score(y_true, y_pred)

0.7426

In [91]:
from sklearn.metrics import precision_score
y_true = paws.actual
y_pred = paws.model1
precision_score(y_true, y_pred, average='macro')

0.7898980051430666

In [146]:
subset = paws[paws.actual == 'dog']

model1_recall = (subset.model1 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model1 recall: {model1_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model1 recall: 80.33%
baseline recall: 100.00%

In [149]:
subset = paws[paws.actual == 'dog']

model2_recall = (subset.model2 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model1 recall: {model1_recall:.2%}')
print(f'   model2 recall: {model2_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model1 recall: 80.33%
   model2 recall: 49.08%
baseline recall: 100.00%

In [150]:
subset = paws[paws.actual == 'dog']

model3_recall = (subset.model3 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model1 recall: {model1_recall:.2%}')
print(f'   model2 recall: {model2_recall:.2%}')
print(f'   model3 recall: {model3_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model1 recall: 80.33%
   model2 recall: 49.08%
   model3 recall: 50.86%
baseline recall: 100.00%

In [151]:
subset = paws[paws.actual == 'dog']

model4_recall = (subset.model4 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'   model1 recall: {model1_recall:.2%}')
print(f'   model2 recall: {model2_recall:.2%}')
print(f'   model3 recall: {model3_recall:.2%}')
print(f'   model4 recall: {model4_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

   model1 recall: 80.33%
   model2 recall: 49.08%
   model3 recall: 50.86%
   model4 recall: 95.57%
baseline recall: 100.00%

In [152]:
paws

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [160]:
subset = paws[paws.model1 == 'cat']
model_precision = (subset.model1 == subset.actual).mean()

subset = paws[paws.baseline_prediction == 'cat']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model1 precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model1 precision: 68.98%
baseline precision: nan%

In [161]:
subset = paws[paws.model2 == 'cat']
model_precision = (subset.model2 == subset.actual).mean()

subset = paws[paws.baseline_prediction == 'cat']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model2 precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model2 precision: 48.41%
baseline precision: nan%

In [162]:
subset = paws[paws.model3 == 'cat']
model_precision = (subset.model3 == subset.actual).mean()

subset = paws[paws.baseline_prediction == 'cat']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model3 precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model3 precision: 35.83%
baseline precision: nan%

In [163]:
subset = paws[paws.model4 == 'cat']
model_precision = (subset.model4 == subset.actual).mean()

subset = paws[paws.baseline_prediction == 'cat']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model4 precision: {model_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model4 precision: 80.72%
baseline precision: nan%

In [99]:
##classification report 
from sklearn.metrics import classification_report
y_true = paws.actual
y_pred = paws.model1
target_names = ['actual','model1']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

      actual       0.69      0.82      0.75      1746
      model1       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [100]:
from sklearn.metrics import classification_report
y_true = paws.actual
y_pred = paws.model2
target_names = ['actual','model2']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

      actual       0.48      0.89      0.63      1746
      model2       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [153]:
from sklearn.metrics import classification_report
y_true = paws.actual
y_pred = paws.model3
target_names = ['actual','model3']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

      actual       0.36      0.51      0.42      1746
      model3       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [154]:
from sklearn.metrics import classification_report
y_true = paws.actual
y_pred = paws.model4
target_names = ['actual','model4']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

      actual       0.81      0.35      0.48      1746
      model4       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000

In [105]:
from sklearn.metrics import recall_score

y_true = paws.actual
y_pred = paws.model1
recall_score(y_true, y_pred, average='macro')

recall_score(y_true, y_pred, average='micro')
recall_score(y_true, y_pred, average='weighted')

recall_score(y_true, y_pred, average=None)

y_true = paws.actual
recall_score(y_true, y_pred, average=None)

recall_score(y_true, y_pred, average=None, zero_division=1)

array([0.81500573, 0.80331899])